<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
      {% if not session.logged_in %}
      <a href="/facebook_login">Login or Signup</a>
      {% else %}

      {% for i in categs: %}
      <li><b> {% print (i)%} </b><br></li>
      {%endfor%}

      <table border="1" style="width:100%">
      <tr>
      <th>ID</th>
      <th>Name</th> 
      <th>Description</th>
      <th>Category</th>
      </tr>
      {% for i in Items: %}
      <tr>
      <td> {% print i[0]%} </b></td>
      <td> {% print i[1]%} </b></td>
      <td> {% print i[2]%} </b></td>
      <td> {% print i[3]%} </b></td>
      </tr>
      {%endfor%}
      </table>
      
      <a href="/logout">signout</a>
      {%endif%}
  </body>
</html>