{% extends "layout.html" %}
{% block content %}
<h2>Index Page</h2>
{% with messages3 = get_flashed_messages() %}
        {% if messages3 %}
          {% for message in messages3 %}
            <h3>{{ message }}</h3>
          {% endfor %}
        {% endif %}
{% endwith %}
<table border="1" style="width:100%">
      <tr>
      <th>Item ID</th>
      <th>Name</th> 
      <th>Description</th>
      <th>Category</th>
      </tr>
      {% for i in Items: %}
      <tr>
      <td> {% print i[0]%} </b></td>
      <td> {% print i[1]%} </b></td>
      <td> {% print i[2]%} </b></td>
      <td> {% print i[3]%} </b></td>
      </tr>
      {%endfor%}
      </table>
</div>
{% endblock %}
